.vertical-card {
  background-color: var(--second-bg-color);
  color: white;
  width: 100%;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms ease-out;
}

.vertical-card:hover {
  transform: scale(1.05);
}

.vertical-card__img-container {
  position: relative;
}

.vertical-card,
.vertical-card__img {
  border-radius: 12px;
}

.vertical-card__img {
  width: 100%;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.vertical-card__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  background-color: #080808;
  width: 70%;
  margin: auto;
  border-radius: 8px;
  position: absolute;
  bottom: -8%;
  left: 0;
  right: 0;
  padding: 0.5rem;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.vertical-card__btn {
  transition: all 300ms;
  cursor: pointer;
}

.vertical-card__btn:hover {
  transform: scale(0.9);
}

.vertical-card__title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.vertical-card__info {
  padding: 0 1rem;
  margin-bottom: 1rem;
  list-style: none;
  font-size: 0.9rem;
}

.vertical-card__info li {
  margin: 0.5rem 0;
}
