.cast {
  position: relative;
}

.cast__card-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.cast__card img {
  width: 9rem;
}

.cast__card h1 {
  font-size: 1.3rem;
}

@media (max-width: 30rem) {
  .cast__card img {
    width: 7rem;
  }

  .cast__card h1 {
    font-size: 0.9rem;
  }
}

.cast-list__slide-btn {
  top: 35% !important;
}
