.cast {
  position: relative;
}

.cast__card-container {
  display: flex;
  overflow-x: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.cast__card-container::-webkit-scrollbar {
  display: none;
}

.cast__card img {
  width: 9rem;
}

.cast__card h1 {
  font-size: 1.3rem;
}

@media (max-width: 30rem) {
  .cast__card img {
    width: 7rem;
  }

  .cast__card h1 {
    font-size: 0.9rem;
  }
}

.cast-list__slide-btn {
  position: absolute ;
  height: 50% !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
