.homepage {
  width: 85%;
  margin: auto;
  max-width: 110rem;
}

.home-search,
.sections-container {
  padding: 2rem;
  margin: 2rem 0;
}

.sections-container {
  background-color: var(--second-bg-color);
}

.homepage h1 {
  color: white;
}

@media (max-width: 60rem) {
  .homepage {
    padding: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 30rem) {
  .homepage {
    padding: 0.8rem;
    width: 100%;
  }

  .section-title {
    font-size: 1.2rem;
  }
}
