.homepage {
  width: 85%;
  margin: 2rem auto;
  max-width: 110rem;
  color: white;
}

.homepage__sections {
  background-color: var(--second-bg-color);
}

.homepage__section {
  margin: 2.5rem auto;
}

.homepage__section-title {
  font-size: 2rem;
  margin: 0.5rem 0rem;
  background: linear-gradient(90deg, #04325b 25%, transparent 85%);
  border-radius: 0.3rem;
  padding: 0.8rem 1.5rem;
  font-weight: 400;
  text-shadow: rgba(0,0,0, 0.2) 3px 3px;
}

@media (max-width: 90rem) {
  .homepage__section-title {
    font-size: 2rem;
  }

  .homepage__section {
    margin: 2rem auto;
  }
}

@media (max-width: 60rem) {
  .homepage__section-title {
    font-size: 1.5rem;
  }

  .homepage__section {
    margin: 1.5rem auto;
  }
}

@media (max-width: 45rem) {
  .homepage {
    width: 95%;
    padding: 0;
    margin: 1rem auto;
  }


  .homepage__section {
    margin: 1rem auto;
  }
}
