.movie-detail {
  background-color: rgba(2, 23, 42, 1);
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
  border-radius: 16px;
  color: white;
  box-shadow: 1rem 1rem 1rem  rgba(0, 0, 0, 0.2);
}

.movie-detail__header {
  background-position: center;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.movie-detail__poster-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.movie-detail__poster {
  width: 100%;
  border-radius: 12px;
  max-width: 15rem;
}

.movie-detail__poster,
.movie-detail__btns {
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.movie-detail__btns {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5rem;
  width: 50%;
  max-width: 15rem;
  min-width: 6rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie-detail__btn {
  margin: 0 0.8rem;
  cursor: pointer;
  transition: all 300ms;
}

.movie-detail__btn:hover {
  transform: scale(0.9);
}

.movie-detail__content {
  width: 60%;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.movie-detail__main-info {
  list-style: none;
}

.movie-detail__main-info li {
  margin: 0.4rem 0;
}

.movie-detail__title {
  margin: 0.6rem 0;
}

.movie-detail__overview,
.movie-detail__cast {
  padding: 1.5rem;
}

.movie-detail__overview h2,
.movie-detail__cast h2 {
  margin: 0.4rem 0;
}

.movie-detail__overview p {
  font-size: 1.1rem;
  text-align: justify;
  padding: 0.5rem;
}

@media (max-width: 30rem) {
  .movie-detail {
    width: 95%;
    margin: 1rem auto;
  }

  .movie-detail__header {
    background-position: center;
    background-size: cover;
  }

  .movie-detail__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie-detail__poster-container {
    width: 75%;
    margin-bottom: 1rem;
  }

  .movie-detail__content {
    width: 100%;
  }

  .movie-detail__title {
    font-size: 1.8rem;
  }

  .movie-detail__main-info {
    font-size: 0.9rem;
  }
}
