.infinite-list {
  position: relative;
}

.infinite-list__card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
  gap: 1.5rem;
  height: 80vh;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  justify-items: center;
  padding: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.infinite-list__card-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 90rem) {
  .infinite-list__card-container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 11rem), 1fr));
    gap: 1.2rem;
  }
}

@media (max-width: 75rem) {
  .infinite-list__card-container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 9rem), 1fr));
    gap: 0.8rem;
  }

  .infinite-list__card {
    width: 9rem;
    margin: 0 0.4rem;
  }

  .infinite-list__card i {
    font-size: 1rem;
    margin: 0.6rem 0;
  }

  .infinite-list__card h1 {
    font-size: 1rem;
  }
}

@media (max-width: 45rem) {
  .infinite-list__card-container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 7rem), 1fr));
    gap: 0.5rem;
  }

  .infinite-list__card {
    width: 7rem;
    margin: 0 0.3rem;
  }

  .infinite-list__card i {
    margin: 0.5rem 0;
  }

  .infinite-list__card h1 {
    font-size: 0.8rem;
  }
}
