.search-bar {
  background-color: var(--second-bg-color);
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin-inline: auto;
}

.search-bar input {
  width: 100%;
  height: 2.5rem;
  border: none;
  padding: 0.4rem 0.7rem;
  transition: box-shadow 200ms ease-out;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px var(--main-green-color);
}

.search-bar button {
  background-color: #053b6b;
  border: none;
  color: var(--main-green-color);
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 55rem) {

  .search-bar input, .search-bar button {
    height: 2rem;
    font-size: 1rem;
  }

}