.horizontal-list {
  position: relative;
  margin: 2.5rem 0;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0.5rem;
}

.horizontal-list__content-container-wrapper {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: all 200ms ease-out;
  padding: 1rem;
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-list__content-container-wrapper::-webkit-scrollbar {
  display: none;
}

.horizontal-list__content-container {
  display: inline-flex;
  padding: 1rem;
  overflow-y: hidden;
}

.horizontal-list__card {
  width: 12rem;
  margin: 0 0.6rem;
}

@media (max-width: 90rem) {
  .horizontal-list {
    margin: 1.5rem 0;
  }

  .horizontal-list__card {
    width: 11rem;
    margin: 0 0.5rem;
  }

  .horizontal-list__card h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 75rem) {
  .horizontal-list {
    margin: 1rem 0;
  }

  .horizontal-list__card {
    width: 9rem;
    margin: 0 0.4rem;
  }

  .horizontal-list__card i {
    font-size: 1rem;
    margin: 0.6rem 0;
  }

  .horizontal-list__card h1 {
    font-size: 1rem;
  }
}

@media (max-width: 45rem) {
  .horizontal-list__content-container-wrapper {
    padding: 0.5rem;
  }

  .horizontal-list {
    margin: 0.5rem 0;
  }

  .horizontal-list__card {
    width: 7rem;
    margin: 0 0.3rem;
  }

  .horizontal-list__card i {
    margin: 0.4rem 0;
  }

  .horizontal-list__card h1 {
    font-size: 0.8rem;
  }
}
