.slide-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  background-image: linear-gradient(to right, black 15%, transparent);
  padding: 1rem;
  cursor: pointer;
  opacity: 80%;
}

.slide-btn {
  opacity: 100%;
  transition: opacity 200ms ease-out;
}

.slide-btn i {
  font-size: 2.5rem;
  color: #5cdb95;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 90rem) {
  .slide-btn {
    padding: 0.8rem;
  }

  .slide-btn i {
    font-size: 2.2rem;
  }
}

@media (max-width: 60rem) {
  .slide-btn {
    padding: 0.6rem;
  }

  .slide-btn i {
    font-size: 2rem;
  }
}

@media (max-width: 30rem) {
  .slide-btn i {
    font-size: 1.5rem;
  }
}
