.slide-btn {
  position: absolute;
  border-radius: 0.2rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 300ms;
  width: 5rem;
  height: 5rem;
}

.slide-btn i {
  font-size: 1.5rem;
  color: #5cdb95;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 90rem) {
  .slide-btn {
    padding: 0.8rem;
  }

  .slide-btn i {
    font-size: 1.5rem;
  }
}

@media (max-width: 60rem) {
  .slide-btn {
    padding: 0.6rem;
  }

  .slide-btn i {
    font-size: 1.5rem;
  }
}

@media (max-width: 30rem) {
  .slide-btn {
    width: 3rem;
    height: 3rem;
  }

  .slide-btn i {
    font-size: 1.5rem;
  }
}
