:root {
  --bg-color: #010e1a;
  --second-bg-color: #02172a;
  --main-green-color: #4ed88c;
  --second-green-color: #239d5a;
}

body {
  background-color: var(--bg-color);
}

.box-shadow-sm {
  box-shadow: 0.5rem 0.5rem 0.5rem  rgba(0, 0, 0, 0.3);
}

.box-shadow-md {
  box-shadow: 1rem 1rem 1rem  rgba(0, 0, 0, 0.3);
}

.box-shadow-bg {
  box-shadow: 1.5rem 1.5rem 1.5rem  rgba(0, 0, 0, 0.3);
}

.bor-rad-sm {
  border-radius: 4px;
}

.bor-rad-md {
  border-radius: 8px;
}

.bor-rad-bg {
  border-radius: 16px;
}

.section {
  border-radius: 16px;
  background-color: var(--second-bg-color);
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.section-title {
  font-size: 2rem;
  margin: 0.5rem 0rem;
  background: linear-gradient(90deg, #04325b 25%, transparent 85%);
  border-radius: 0.3rem;
  padding: 0.8rem 1.5rem;
  font-weight: 400;
  text-shadow: rgba(0,0,0, 0.2) 3px 3px;
}

@media (max-width: 90rem) {
  .section {
    margin: 1.5rem 0;
    padding: 1.5rem;
  }
}

@media (max-width: 60rem) {
  .section {
    margin: 1rem 0;
    padding: 1rem;
  }
}

@media (max-width: 30rem) {
  .section {
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.5);
  }
}
