:root {
  --bg-color: #00050a;
  --second-bg-color: #010e1a;
  --main-green-color: #4ed88c;
}

body {
  background-color: var(--bg-color);
}

.box-shadow-sm {
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.box-shadow-md {
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.5);
}

.box-shadow-bg {
  box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, 0.5);
}

.bor-rad-sm {
  border-radius: 4px;
}

.bor-rad-md {
  border-radius: 8px;
}

.bor-rad-bg {
  border-radius: 16px;
}

.section {
  border-radius: 16px;
  background-color: var(--second-bg-color);
  width: 85%;
  margin: auto;
}

@media (max-width: 30rem) {
  .section {
    border-radius: 0;
    width: 100%;
  }
}
