:root {
  --bg-color: #010e1a;
  --second-bg-color: #02172a;
  --main-green-color: #4ed88c;
  --second-green-color: #239d5a;
}

body {
  background-color: var(--bg-color);
}

.box-shadow-sm {
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.box-shadow-md {
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.5);
}

.box-shadow-bg {
  box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, 0.5);
}

.bor-rad-sm {
  border-radius: 4px;
}

.bor-rad-md {
  border-radius: 8px;
}

.bor-rad-bg {
  border-radius: 16px;
}

.section {
  border-radius: 16px;
  background-color: var(--second-bg-color);
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 18px 18px 18px 18px rgba(0, 0, 0, 0.5);
}

@media (max-width: 90rem) {
  .section {
    margin: 1.5rem 0;
    padding: 1.5rem;
  }
}

@media (max-width: 60rem) {
  .section {
    margin: 1rem 0;
    padding: 1rem;
  }
}

@media (max-width: 30rem) {
  .section {
    margin: 0.5rem 0;
    padding: 0.5rem;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.5);
  }
}
