.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--second-bg-color);
  z-index: 100;
  transform: translateX(0%);
  transition: transform 300ms ease-out;
  display: none;
  align-items: center;
}

.burger-menu__search-bar {
  width: 80%;
  margin-bottom: 2rem;
  background-color: #04294a;
  box-shadow: none;
}

.burger-menu__links {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  text-align: center;
  justify-content: space-around;
  height: 60vh;
}

.burger-menu__links li i {
  margin-right: 0.8rem;
}

@media (max-width: 30rem) {
  .burger-menu__search-bar {
    width: 90%;
    margin-bottom: 1rem;
  }

  .burger-menu__search-bar i {
    font-size: 1rem;
  }
  .burger-menu__search-bar input {
    font-size: 0.8rem;
  }

  .burger-menu__links {
    font-size: 1.2rem;
  }

  .burger-menu__links li {
    margin: 1rem 0;
  }

  .burger-menu__links li i {
    margin-right: 0.4rem;
  }
}

@media (max-width: 45rem) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
