.nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--second-bg-color);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.6rem 1rem;
  margin: auto;
}

.nav-bar__logo {
  cursor: pointer;
  margin-right: 0.5rem;
}

.nav-bar__logo img {
  width: 2rem;
}

.nav-bar__logo h1 {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.nav-bar__links-container {
  display: flex;
}

.nav-bar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__links li {
  margin: 0 1rem;
}

.nav-bar__links li i {
  margin-right: 0.3rem;
}

.nav-bar__burger-btn {
  display: none;
  position: relative;
  z-index: 120;
}

.login-btn {
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 1rem;
  font-size: 1rem;
}

.login-btn span {
  margin-left: 0.3rem;
}

.nav-bar__right-side {
  display: flex;
  align-items: center;
}

@media (max-width: 60rem) {
  .nav-bar {
    width: 100%;
  }
}

@media (max-width: 45rem) {
  .nav-bar__links {
    display: none;
  }

  .magnifier {
    display: none;
  }

  .nav-bar__burger-btn {
    display: inline-block;
  }
}
