.nav-bar__logo {
  cursor: pointer;
}

.nav-bar__logo img {
  width: 2rem;
}

.nav-bar__logo h1 {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

header {
  background-color: var(--second-bg-color);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.6rem 1rem;
  width: 85%;
  margin: auto;
}

.nav-bar__links {
  display: flex;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-bar li {
  margin: 0 1rem;
  font-size: 0.8rem;
  opacity: 70%;
  transition: opacity 300ms ease-out;
  font-size: 0.9rem;
}

.nav-bar li:hover {
  opacity: 100%;
}

.nav-bar-link {
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.burger-menu {
  display: none;
}

@media (max-width: 60rem) {
  .nav-bar {
    width: 100%;
  }
}

@media (max-width: 45rem) {
  .nav-bar__links ul {
    display: none;
  }

  .magnifier {
    display: none;
  }

  .burger-menu {
    display: inline-block;
  }
}
