.spinner {
  height: 2.5rem;
  width: 2.5rem;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-left-color: #5cdb95;
  animation: spin 1s linear infinite;
  margin: 3rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
